/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content:center;
	align-items:center;
    width:450px;
    height: 230px;
    padding:10px;
	gap:10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: darkgray;
  }
  .red{
	 
    width: 120px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
  }
  .green{
	  
    width: 120px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
  }
  .yellow{
    width: 120px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
  }